{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Soca AI",
    "description": "An API for sending messages and retrieving responses from the AI Agent.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://stg-api-genesist.soca.ai/v1"
    }
  ],
  "security": [
    {
      "private_key": []
    }
  ],
  "paths": {
    "/chat/{agent_id}": {
      "post": {
        "description": "This endpoint is used to send a prompt (command or question) to the message processing system and retrieve its response.",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "Description",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Message payload to be sent to the AI Agent.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response from the AI Agent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or missing fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendMessageRequest": {
        "type": "object",
        "required": ["prompt"],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Chat send by users to Soca AI."
          },
        }
      },
      "SendMessageResponse": {
        "type": "object",
        "properties": {
          "reply": {
            "type": "string",
            "description": "AI Agent's response."
          },
          "session_id": {
            "type": "string",
            "description": "Same session ID as in the request."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Response timestamp in ISO 8601 format."
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32",
            "description": "Error code."
          },
          "message": {
            "type": "string",
            "description": "Error message description."
          }
        }
      }
    },
    "securitySchemes": {
      "private_key": {
        "type": "apiKey",
        "in": "header",
        "name": "private_key"
      }
    }
  }
}
