{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Soca AI",
    "description": "An API for sending messages and retrieving responses from the AI Agent.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.soca.ai/v1"
    }
  ],
  "security": [
    {
      "private_key": []
    }
  ],
  "paths": {
    "/chat/{agent_id}": {
      "post": {
        "description": "This endpoint is used to send a prompt (command or question) to the message processing system and retrieve its response.",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of a Soca AI agent created in the Studio.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Message payload to be sent to the AI Agent.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Chat has been sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or missing fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendMessageRequest": {
        "type": "object",
        "required": ["prompt"],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Chat send by users to Soca AI."
          },
        }
      },
      "SendMessageResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "Chat has been delivered successfully"
          },
          "data": {
            "type": "object",
            "description": "Same session ID as in the request.",
            "properties": {
              "status":{
                "type": "integer",
              }
              ,"message": {
                "type": "string",
              }
              ,"data": {
                "type": "string"
              }
            }
          },
          "message": {
            "type": "string",
            "description": "Response timestamp in ISO 8601 format."
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32",
            "description": "Error code."
          },
          "message": {
            "type": "string",
            "description": "Error message description."
          }
        }
      }
    },
    "securitySchemes": {
      "private_key": {
        "type": "apiKey",
        "in": "header",
        "name": "private_key"
      }
    }
  }
}
